name: Prepare datasets
on: [push]
jobs:
  prepare-datasets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Get current date
        id: current-date
        run: echo "current-date=$(date +'%Y-%m-%d')" >> $GITHUB_ENV

      - name: Cache remote datasets
        id: cache-fetch-datasets
        uses: actions/cache@v3
        with:
          path: raw/
          key: remote-datasets-${{ hashFiles('fetch-sources.sh') }}-${{ env.current-date }}

      - if: ${{ steps.cache-fetch-datasets.outputs.cache-hit != 'true' }}
        name: Fetch datasets
        run: ./fetch-sources.sh

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libreoffice

      - name: Prepare datasets
        run: ./prepare-sources.sh

      - name: Upload artifacts as a release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Latest version of the datasets"
          files: |
            processed/*.csv
